<form>
  <div class="form-group">
    <label for="fldEmail">Email address</label>
    <input type="email" class="form-control" id="fldEmail" placeholder="Email" ng-model="fldEmail">
  </div>
  <div class="form-group">
    <label for="fldPasswd">Password</label>
    <input type="password" class="form-control" id="fldPasswd" placeholder="Password" ng-model="fldPasswd">
  </div>

  <button type="submit" class="btn btn-default" ng-click="doLogin()">Login</button>
</form>

<button id="btnControlla" class="btn btn-default" ng-click="checkUserData()">Richiama servizion via JWT</button>
<button id="btnCiProvo" class="btn btn-default" ng-click="testModel()">Ci Provo</button>
