<div class="jumbotron">
  <h1>Corso Laravel Advanced</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Applicazione AngularJS per il consumo di WebService Rest erogati da Laravel
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/login">Login<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Gianfranco Castro</h4>
  <p>
    SEO Manager &amp; Full Stack Web Developer
  </p>

  <h4>Laramind</h4>
  <p>
    LaraMind.com &egrave; un progetto di formazione e orientamento rivolto alla diffusione in Italia di Laravel,
    uno dei pi&ugrave; importanti framework in PHP a livello mondiale.
  </p>
</div>
